@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  padding-top: 76px;
}

body {
  overflow-x: hidden;
}

.container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  main {
    padding-top: 68.5px;
  }
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
.header {
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  position: fixed;
  z-index: 99999;
  width: 100%;
  background-color: #fff;
}
.header .container .row {
  align-items: center;
  justify-content: space-between;
}
.header .container .row .logo {
  width: 16.66%;
  max-width: 16.66%;
}
.header .container .row .logo img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .container .row input {
  display: none;
}
.header .container .row .navBar {
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 60px;
}
.header .container .row .navBar .navList {
  display: flex;
}
.header .container .row .navBar .navList .navItem a {
  display: inline-block;
  padding: 26px 20px;
  transition: all 0.3s ease-out;
  font-size: 16px;
  position: relative;
  color: #002e5b;
}
.header .container .row .navBar .navList .navItem:hover a {
  color: #ff5c97;
}
.header .container .row .navBar .navList .navItem:hover .dropDown {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.header .container .row .navBar .navList .navItem .dropDown {
  opacity: 0;
  visibility: hidden;
  top: 120%;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 60px 17px 5px;
  transition: all 0.3s ease-out;
  border-top: 5px solid #4043bc;
}
.header .container .row .navBar .navList .navItem .dropDown .dropItem a {
  padding: 6px 10px;
  font-size: 14px;
  color: #002e5b;
}
.header .container .row .navBar .navList .navItem .dropDown .dropItem a:hover {
  color: #ff5c97;
}
.header .container .row .navBar .btn {
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 11px;
  transition: color 0.4s linear;
  background-color: #4043bc;
  position: relative;
  z-index: 1;
}
.header .container .row .navBar .btn:hover span {
  width: 100%;
}
.header .container .row .navBar .btn span {
  height: 100%;
  position: absolute;
  display: inline-block;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 0;
  z-index: -1;
  background-color: #ec4683;
  transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.header .container .row .mobileMenu {
  display: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header {
    position: fixed;
    width: 100%;
  }
  .header .container .row {
    justify-content: space-between;
  }
  .header .container .row .logo {
    width: 16.66%;
    max-width: 16.66%;
    padding: 0 15px;
  }
  .header .container .row .logo img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .container .row .navBar {
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 20px;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 12px 0;
  }
  .header .container .row {
    position: relative;
  }
  .header .container .row .navBar {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    display: flex;
    z-index: -99;
    top: -100%;
    width: 100%;
    transition: all 0.4s ease;
    background-color: #fff;
  }
  .header .container .row .navBar .navList {
    width: 100%;
    flex-direction: column;
  }
  .header .container .row .navBar .navList .navItem {
    position: relative;
  }
  .header .container .row .navBar .navList .navItem a {
    width: 100%;
    display: inline-block;
    padding: 10px 19px;
    font-size: 14px;
  }
  .header .container .row .navBar .btn {
    display: none;
  }
  .header .container .row input:checked + .navBar {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
  .header .container .row .mobileMenu {
    height: 100%;
    display: inline-block;
    width: 45px;
  }
  .header .container .row .mobileMenu label {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
  .header .container .row .mobileMenu label span {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: black;
  }
}
@media (max-width: 576px) {
  .header {
    padding-inline: 10px;
  }
}
.footer {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 15px;
  background-image: url(../images/footer_bg.png);
}
.footer .container .row {
  justify-content: space-between;
}
.footer .container .row .footerAbout {
  padding: 0 15px;
  margin-bottom: 50px;
  flex: 0 0 25%;
}
.footer .container .row .footerAbout .logo {
  margin-bottom: 30px;
}
.footer .container .row .footerAbout .address {
  margin-bottom: 10px;
  line-height: 1.8;
  color: #707b8e;
}
.footer .container .row .footerAbout .mail {
  color: #707b8e;
  display: inline-block;
  margin-bottom: 50px;
  line-height: 1.8;
}
.footer .container .row .footerAbout .social {
  display: flex;
}
.footer .container .row .footerAbout .social .socialMedia {
  width: 40px;
  height: 40px;
  font-size: 14px;
  border: 1px solid #fafafa;
  background: #fafafa;
  text-align: center;
  color: #949eb2;
  margin-right: 5px;
  transition: all 0.4s ease-out;
}
.footer .container .row .footerAbout .social .socialMedia i {
  padding-top: 12px;
}
.footer .container .row .quickLinks {
  flex: 0 0 16.7%;
  padding: 0 15px;
  margin-bottom: 50px;
}
.footer .container .row .quickLinks h4 {
  color: #012f5f;
  font-size: 20px;
  margin-bottom: 48px;
  font-weight: 500;
}
.footer .container .row .quickLinks .quickLinkList li {
  margin-bottom: 15px;
}
.footer .container .row .quickLinks .quickLinkList li a {
  color: #868c98;
  font-weight: 300;
  transition: all 0.3s ease-out;
}
.footer .container .row .quickLinks .quickLinkList li a:hover {
  color: #ff5c97;
  padding-left: 5px;
}
.footer .container .row .support {
  flex: 0 0 16.7%;
  padding: 0 15px;
  margin-bottom: 50px;
}
.footer .container .row .support h4 {
  color: #012f5f;
  font-size: 20px;
  margin-bottom: 48px;
  font-weight: 500;
}
.footer .container .row .support .supportLinks li {
  margin-bottom: 15px;
}
.footer .container .row .support .supportLinks li a {
  color: #868c98;
  font-weight: 300;
  transition: all 0.3s ease-out;
}
.footer .container .row .support .supportLinks li a:hover {
  color: #ff5c97;
  padding-left: 5px;
}
.footer .container .row .coreFeatures {
  flex: 0 0 25%;
  padding: 0 15px;
  margin-bottom: 50px;
}
.footer .container .row .coreFeatures h4 {
  color: #012f5f;
  font-size: 20px;
  margin-bottom: 48px;
  font-weight: 500;
}
.footer .container .row .coreFeatures .featureLinks li {
  margin-bottom: 15px;
}
.footer .container .row .coreFeatures .featureLinks li a {
  color: #868c98;
  font-weight: 300;
  transition: all 0.3s ease-out;
}
.footer .container .row .coreFeatures .featureLinks li a:hover {
  color: #ff5c97;
  padding-left: 5px;
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 15px;
  }
}
@media (max-width: 992px) {
  .footer {
    padding-top: 70px;
    padding-bottom: 0px;
  }
  .footer .container .row {
    flex-wrap: wrap;
  }
  .footer .container .row .footerAbout {
    flex: 0 0 33.3%;
  }
  .footer .container .row .quickLinks {
    flex: 0 0 33.3%;
  }
  .footer .container .row .support {
    flex: 0 0 33.3%;
  }
  .footer .container .row .coreFeatures {
    flex: 0 0 33.3%;
  }
}
@media (max-width: 768px) {
  .footer .container .row .footerAbout {
    flex: 0 0 66.7%;
  }
  .footer .container .row .quickLinks {
    flex: 0 0 41.7%;
  }
  .footer .container .row .support {
    flex: 0 0 58.3%;
  }
  .footer .container .row .coreFeatures {
    flex: 0 0 42%;
  }
}
@media (max-width: 576px) {
  .footer .container .row .footerAbout {
    flex: 0 0 100%;
  }
  .footer .container .row .quickLinks {
    flex: 0 0 100%;
  }
  .footer .container .row .support {
    flex: 0 0 100%;
  }
  .footer .container .row .coreFeatures {
    flex: 0 0 100%;
  }
}
.scrollUp {
  position: fixed;
  background: #ff5c97;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent;
  z-index: 99;
}

/* ------------------------------- START HERO ------------------------------- */
.hero {
  background-image: url(../images/hero_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 76px);
  width: 100%;
}
.hero .container .row {
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.hero .container .row .leftSide {
  position: relative;
  flex: 0 0 58%;
  animation-duration: 1s;
}
.hero .container .row .leftSide .title {
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #2b4b80;
}
.hero .container .row .leftSide .sectionInfo {
  margin-bottom: 54px;
  padding-right: 155px;
  line-height: 30px;
  color: #707b8e;
}
.hero .container .row .leftSide .heroBtn {
  background-color: #ff5c97;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
  padding: 30px 44px;
  min-width: 200px;
  text-align: center;
  line-height: 0;
  border-radius: 5px;
  color: #fff;
}
.hero .container .row .leftSide .heroBtn:hover {
  color: #fff;
}
.hero .container .row .leftSide .heroBtn:hover::before {
  transform: scaleX(1);
  z-index: -1;
}
.hero .container .row .leftSide .heroBtn::before {
  background: #ec4683;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
  transform-origin: 0 0;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
.hero .container .row .leftSide .heroBtn p {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.hero .container .row .leftSide .heroBtn:hover span {
  width: 100%;
}
.hero .container .row .leftSide .heroBtn span {
  height: 100%;
  z-index: 2;
  position: absolute;
  display: inline-block;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 0;
  background-color: #ec4683;
  transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.hero .container .row .leftSide::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/plus.png);
  left: 339px;
  top: -70px;
  animation: plus 2s ease-out infinite;
}
.hero .container .row .leftSide::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../images/plus.png);
  left: 285px;
  top: 400px;
  animation: plus 2s ease-out infinite;
}
.hero .container .row .rightSide {
  flex: 0 0 fit-content;
  animation-duration: 0.8s;
}
.hero .container .row .rightSide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes plus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 1450px) {
  .hero {
    padding-top: 80px;
  }
  .hero .container .row {
    align-items: flex-start;
  }
  .hero .container .row .rightSide {
    flex: 0 0 40%;
  }
  .hero .container .row .rightSide img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1200px) {
  .hero .container .row {
    align-items: center;
  }
  .hero .container .row .leftSide .title {
    font-size: 55px;
  }
  .hero .container .row .rightSide {
    flex: 0 0 40%;
  }
  .hero .container .row .rightSide img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 992px) {
  .hero {
    height: 100%;
  }
  .hero .container .row {
    align-items: flex-start;
  }
  .hero .container .row .leftSide {
    flex-basis: 100%;
  }
  .hero .container .row .leftSide::before {
    top: 360px;
  }
  .hero .container .row .leftSide::after {
    top: -30px;
  }
  .hero .container .row .rightSide {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero .container .row .leftSide .title {
    font-size: 29px;
    line-height: 1.4;
  }
  .hero .container .row .leftSide .sectionInfo {
    padding: 0;
  }
  .hero .container .row .leftSide::before {
    top: 300px;
  }
}
@media (max-width: 400px) {
  .hero .container .row .leftSide::after {
    left: 250px;
  }
}
@media (max-width: 320px) {
  .hero .container .row .leftSide::after {
    display: none;
  }
  .hero .container .row .leftSide::before {
    display: none;
  }
}
/* ------------------------------- END HEADER ------------------------------- */
/* ----------------------------- START SERVICES ----------------------------- */
.services {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 100px;
}
.services .container .row {
  flex-direction: column;
}
.services .container .row .title {
  line-height: 1.3;
  font-size: 50px;
  color: #2b4b80;
  text-align: center;
  width: 770px;
  margin: 0 auto 66px auto;
}
.services .container .row .cardBox {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
}
.services .container .row .cardBox .card {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0 15px;
  flex: 0 0 30%;
  margin-bottom: 30px;
  transition: all 0.3s ease;
  padding: 56px 40px 69px;
  border-radius: 6px;
}
.services .container .row .cardBox .card .cardImage {
  width: 73px;
  margin-bottom: 20px;
}
.services .container .row .cardBox .card .cardImage img {
  width: 100%;
}
.services .container .row .cardBox .card .cardTitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 23px;
  color: #2b4b80;
  text-align: center;
}
.services .container .row .cardBox .card .cardInfo {
  margin-bottom: 40px;
  color: #707b8e;
  line-height: 30px;
  text-align: center;
}
.services .container .row .cardBox .card a {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #c5ccd8;
  transition: all 0.3s ease-out;
  font-weight: 500;
}
.services .container .row .cardBox .card a i {
  transition: all 0.3s ease-out;
  padding: 5px 6px;
  border-radius: 50%;
  margin-right: 7px;
  background: #c5ccd8;
  width: 24px;
  height: 24px;
  color: #fff;
  display: inline-block;
}
.services .container .row .cardBox .card:hover {
  box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
}
.services .container .row .cardBox .card:hover a {
  color: #7b40c0;
}
.services .container .row .cardBox .card:hover a i {
  background-color: #7b40c0;
}
.services .container .row .cardBox .card:nth-child(2) {
  box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
}
.services .container .row .cardBox .card:nth-child(2) a {
  color: #7b40c0;
}
.services .container .row .cardBox .card:nth-child(2) a i {
  background-color: #7b40c0;
}
.services::before {
  content: "";
  position: absolute;
  background-image: url(../images/what_do_bg.png);
  background-repeat: no-repeat;
  left: 0px;
  width: 243px;
  height: 482px;
  top: -187px;
}
.services::after {
  content: "";
  background-image: url(../images/what_do_right_bg.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 351px;
  height: 461px;
  bottom: 125px;
  z-index: -1;
  right: 0;
}

@media (max-width: 1200px) {
  .services {
    padding-top: 80px;
  }
  .services .container .row .title {
    width: 610px;
  }
  .services .container .row .cardBox .card .cardTitle {
    font-size: 21px;
  }
  .services::after {
    display: none;
  }
}
@media (max-width: 992px) {
  .services {
    padding-top: 160px;
  }
  .services .container .row .title {
    font-size: 45px;
  }
  .services .container .row .cardBox .card {
    flex: 0 0 48%;
  }
  .services::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .services .container .row .title {
    font-size: 23px;
    width: auto;
  }
  .services .container .row .cardBox .card {
    flex: 0 0 100%;
  }
}
/* ------------------------------ END SERVICES ------------------------------ */
/* ------------------------------- START ABOUT ------------------------------ */
.about {
  width: 100%;
  height: 100%;
  padding-top: 240px;
  padding-bottom: 190px;
  position: relative;
}
.about .container .row .leftSide img {
  width: 100%;
}
.about .container .row .rightSide {
  flex: 0 0 50%;
  padding: 0 15px;
}
.about .container .row .rightSide .title {
  color: #2b4b80;
  font-weight: 700;
  line-height: 1.3;
  font-size: 50px;
  margin-bottom: 29px;
  padding-right: 25px;
}
.about .container .row .rightSide .info {
  padding-right: 50px;
  margin-bottom: 56px;
  color: #707b8e;
  line-height: 30px;
}
.about .container .row .rightSide a {
  background-color: #ff5c97;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
  padding: 30px 44px;
  min-width: 200px;
  text-align: center;
  line-height: 0;
  border-radius: 5px;
  color: #fff;
}
.about .container .row .rightSide a:hover {
  color: #fff;
}
.about .container .row .rightSide a:hover::before {
  transform: scaleX(1);
  z-index: -1;
}
.about .container .row .rightSide a::before {
  background: #ec4683;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
  transform-origin: 0 0;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: -117px;
  z-index: -1;
  min-height: 819px;
  min-width: 1006px;
  background-image: url(../images/we-create_bg.png);
  background-repeat: no-repeat;
}
.about::after {
  background-image: url(../images/we_create_right_bg.png);
  position: absolute;
  content: "";
  z-index: -1;
  min-height: 262px;
  min-width: 207px;
  background-repeat: no-repeat;
  right: 0px;
  bottom: 178px;
}

@media (max-width: 1200px) {
  .about .container .row .leftSide img {
    width: 100%;
  }
  .about .container .row .rightSide .title {
    font-size: 29px;
  }
  .about .container .row .rightSide .info {
    padding-right: 10px;
  }
  .about::after, .about::before {
    display: none;
  }
}
@media (max-width: 992px) {
  .about {
    padding-top: 120px;
    padding-bottom: 95px;
  }
  .about .container .row {
    flex-wrap: wrap;
  }
  .about .container .row .leftSide {
    flex: 0 0 100%;
  }
  .about .container .row .rightSide {
    flex: 0 0 100%;
  }
  .about .container .row .rightSide .title {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .about {
    padding-top: 63px;
    padding-bottom: 90px;
  }
  .about .container .row {
    flex-wrap: wrap;
  }
  .about .container .row .leftSide {
    flex: 0 0 100%;
  }
  .about .container .row .rightSide {
    flex: 0 0 100%;
  }
  .about .container .row .rightSide .title {
    font-size: 25px;
    line-height: 1.3;
    padding-right: 0px;
  }
}
/* -------------------------------- END ABOUT ------------------------------- */
/* ---------------------------- START GENERATING ---------------------------- */
.generating .container .row {
  flex-direction: column;
  align-items: center;
}
.generating .container .row .title {
  width: 66%;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 66px;
  line-height: 1.3;
  color: #2b4b80;
  text-align: center;
}
.generating .container .row .cardBox {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 100%;
}
.generating .container .row .cardBox .card {
  flex: 0 0 48%;
  border: 1px solid #f2f2f2;
  padding: 36px 54px 25px 56px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  transition: all 0.4s ease-out;
}
.generating .container .row .cardBox .card .cardImage {
  margin-top: 10px;
  width: 60px;
}
.generating .container .row .cardBox .card .cardImage img {
  width: 100%;
}
.generating .container .row .cardBox .card .cardContent {
  width: 100%;
  padding-left: 28px;
}
.generating .container .row .cardBox .card .cardContent .cardTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 29px;
  color: #2b4b80;
}
.generating .container .row .cardBox .card .cardContent .cardInfo {
  line-height: 30px;
  color: #707b8e;
  margin-bottom: 15px;
}
.generating .container .row .cardBox .card:hover {
  box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
}

@media (max-width: 1200px) {
  .generating .container .row .title {
    width: 100%;
  }
  .generating .container .row .cardBox {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media (max-width: 992px) {
  .generating .container .row .title {
    width: auto;
    font-size: 45px;
  }
  .generating .container .row .cardBox .card {
    padding: 20px 20px 20px;
  }
  .generating .container .row .cardBox .card .cardContent .cardInfo {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .generating .container .row .title {
    font-size: 23px;
  }
  .generating .container .row .cardBox {
    gap: 0;
  }
  .generating .container .row .cardBox .card {
    flex: 0 0 100%;
    padding: 20px 8px 20px;
  }
}
/* ----------------------------- END GENERATING ----------------------------- */
/* ------------------------------- START PLAN ------------------------------- */
.plans {
  position: relative;
  padding-top: 160px;
  width: 100%;
  height: 100%;
}
.plans .container .row {
  flex-direction: column;
}
.plans .container .row .title {
  width: 58%;
  text-align: center;
  margin: 0 auto 66px auto;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
  color: #2b4b80;
}
.plans .container .row .cardBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.plans .container .row .cardBox .card {
  margin-bottom: 30px;
  flex: 0 0 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ececec;
  background-color: #fff;
  border-radius: 6px;
  transition: all 0.3s ease-out;
  padding: 56px 40px 69px;
}
.plans .container .row .cardBox .card .cardImage {
  margin-bottom: 10px;
  width: 73px;
}
.plans .container .row .cardBox .card .cardImage img {
  width: 100%;
}
.plans .container .row .cardBox .card .cardPrice {
  font-size: 35px;
  color: #2b4b80;
  font-weight: 700;
  margin-bottom: 42px;
  display: inline-block;
}
.plans .container .row .cardBox .card .cardFeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.plans .container .row .cardBox .card .cardFeatures .feature {
  margin-bottom: 17px;
  text-align: center;
  color: #57667e;
}
.plans .container .row .cardBox .card:hover {
  box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
  border: 1px solid transparent;
}
.plans .container .row .cardBox .card:nth-child(2) {
  box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
  border: 1px solid transparent;
}
.plans::before {
  background-image: url(../images/choose_your_bg.png);
  position: absolute;
  content: "";
  z-index: -1;
  background-repeat: no-repeat;
  right: 0px;
  width: 511px;
  height: 971px;
  bottom: -85px;
}
.plans::after {
  background-image: url(../images/plus.png);
  background-size: cover;
  background-position: center center;
  position: absolute;
  content: "";
  z-index: -1;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  left: 100px;
  bottom: 0;
  animation: plus 2s ease-out infinite;
}

@media (max-width: 1600px) {
  .plans::after {
    display: none;
  }
}
@media (max-width: 1200px) {
  .plans {
    padding-top: 60px;
  }
  .plans::before {
    display: none;
  }
}
@media (max-width: 992px) {
  .plans {
    padding-top: 30px;
  }
  .plans .container .row .title {
    width: 100%;
    font-size: 45px;
  }
  .plans .container .row .cardBox {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .plans .container .row .cardBox .card {
    flex: 0 0 48%;
  }
}
@media (max-width: 768px) {
  .plans .container .row .title {
    font-size: 23px;
  }
  .plans .container .row .cardBox {
    flex-wrap: wrap;
  }
  .plans .container .row .cardBox .card {
    flex: 0 0 100%;
  }
}
/* -------------------------------- END PLAN -------------------------------- */
/* ----------------------------- START PROJECTS ----------------------------- */
.projects {
  width: 100%;
  height: 100%;
  padding-top: 160px;
  padding-bottom: 160px;
}
.projects .title {
  width: 50%;
  color: #2b4b80;
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  margin: 0 auto 66px auto;
  line-height: 1.3;
}
.projects .cardBox {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.projects .cardBox .card {
  flex: 0 0 23%;
  margin-bottom: 30px;
  position: relative;
}
.projects .cardBox .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .cardBox .card .cardContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  background-color: #fff;
  padding: 29px 10px 10px 50px;
  border-radius: 0 10px 0 0;
}
.projects .cardBox .card .cardContent a {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #2b4b80;
  transition: all 0.3s ease-out;
}
.projects .cardBox .card .cardContent a:hover {
  color: #ff5c97;
}
.projects .cardBox .card .cardContent p {
  color: #707b8e;
}

@media (max-width: 1200px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .projects .cardBox .card .cardContent {
    padding: 20px 10px 10px 20px;
  }
  .projects .cardBox .card .cardContent a {
    font-size: 23px;
  }
}
@media (max-width: 992px) {
  .projects .title {
    font-size: 45px;
    width: 705px;
  }
  .projects .cardBox {
    gap: 15px;
    flex-wrap: wrap;
  }
  .projects .cardBox .card {
    flex: 0 0 32%;
  }
  .projects .cardBox .card .cardContent {
    padding: 14px 10px 1px 32px;
  }
}
@media (max-width: 768px) {
  .projects {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .projects .title {
    font-size: 23px;
    width: 100%;
  }
  .projects .cardBox {
    flex-wrap: wrap;
  }
  .projects .cardBox .card {
    margin-bottom: 30px;
    flex: 0 0 100%;
  }
  .projects .cardBox .card .cardContent {
    padding: 29px 10px 10px 50px;
    width: 80%;
  }
  .projects .cardBox .card .cardContent a {
    font-size: 30px;
  }
}
/* ------------------------------ END PROJECTS ------------------------------ */
/* ----------------------------- START FEEDBACK ----------------------------- */
.feedback {
  width: 100%;
  height: 100%;
}
.feedback .container .row {
  position: relative;
  flex-direction: column;
}
.feedback .container .row .title {
  text-align: center;
  width: 42%;
  font-size: 50px;
  font-weight: 700;
  margin: 0 auto 66px auto;
  line-height: 1.3;
  color: #2b4b80;
}
.feedback .container .row .carousel {
  position: relative;
  width: 83%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.feedback .container .row .carousel .feedbackContent {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5;
  font-size: 20px;
  padding: 0 23px;
  margin-bottom: 50px;
  color: #707b8e;
}
.feedback .container .row .carousel .feedbackAuthor {
  display: flex;
  gap: 20px;
}
.feedback .container .row .carousel .feedbackAuthor .feedbackProfile {
  width: 65px;
}
.feedback .container .row .carousel .feedbackAuthor .feedbackProfile img {
  width: 100%;
}
.feedback .container .row .carousel .feedbackAuthor .feedbackAuthorAbout {
  display: flex;
  flex-direction: column;
}
.feedback .container .row .carousel .feedbackAuthor .feedbackAuthorAbout .feedbackAuthorName {
  color: #2e1088;
  font-size: 25px;
  font-weight: 600;
}
.feedback .container .row .carousel .feedbackAuthor .feedbackAuthorAbout .feedbackAuthorPosition {
  font-weight: 500;
  line-height: 1.5;
  color: #707b8e;
  margin-bottom: 15px;
}
.feedback .container .row::before {
  content: "";
  position: absolute;
  left: 0;
  top: 96px;
  width: 50px;
  filter: invert(0.8);
  background-image: url(../images/icons/quote.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: all 0.4s ease-out;
  height: 86px;
}
.feedback .container .row::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  filter: invert(0.8);
  background-image: url(../images/icons/quote.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: all 0.4s ease-out;
  height: 86px;
  transform: rotate(180deg);
}
.feedback .container .row:hover::before, .feedback .container .row:hover::after {
  filter: invert(0.5);
}

@media (max-width: 992px) {
  .feedback .container .row .title {
    width: 67%;
    font-size: 45px;
  }
  .feedback .container .row .carousel {
    width: 75%;
  }
  .feedback .container .row .carousel .feedbackContent {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .feedback .container .row::after, .feedback .container .row::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .feedback .container .row .title {
    width: 100%;
    font-size: 23px;
  }
  .feedback .container .row .carousel {
    width: 100%;
  }
  .feedback .container .row .carousel .feedbackContent {
    font-size: 16px;
    padding: 0;
    margin-bottom: 30px;
  }
}
/* ------------------------------ END FEEDBACK ------------------------------ */
/* ------------------------------- START TIPS ------------------------------- */
.tips {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 185px;
  padding-bottom: 150px;
}
.tips .container .row {
  flex-direction: column;
}
.tips .container .row .title {
  width: 50%;
  text-align: center;
  font-size: 50px;
  margin: 0 auto 66px auto;
  line-height: 1.3;
  font-weight: 700;
  color: #2b4b80;
}
.tips .container .row .cardBox {
  display: flex;
  justify-content: space-between;
}
.tips .container .row .cardBox .card {
  margin-bottom: 50px;
  flex: 0 0 32%;
}
.tips .container .row .cardBox .card .cardImage {
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
}
.tips .container .row .cardBox .card .cardImage img {
  width: 100%;
  transition: all 0.4s ease-out;
}
.tips .container .row .cardBox .card .cardTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 26px;
  padding-right: 27px;
  color: #2b4b80;
}
.tips .container .row .cardBox .card a {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 27px;
  display: inline-block;
  padding-left: 65px;
  color: #233d63;
  transition: all 0.4s ease-out;
  position: relative;
}
.tips .container .row .cardBox .card a:hover {
  color: #7b40c0;
}
.tips .container .row .cardBox .card a::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background: #7b40c0;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.tips .container .row .cardBox .card .cardDate {
  color: #ff5c97;
  display: block;
}
.tips .container .row .cardBox .card:hover .cardImage img {
  transform: scale(1.1);
}
.tips::before {
  background-image: url(../images/tips.png);
  position: absolute;
  content: "";
  z-index: -1;
  min-height: 769px;
  min-width: 331px;
  background-repeat: no-repeat;
  left: 0;
}

@media (max-width: 1200px) {
  .tips {
    padding-top: 92px;
    padding-bottom: 45px;
  }
}
@media (max-width: 992px) {
  .tips .container .row .title {
    font-size: 45px;
    width: 67%;
  }
  .tips .container .row .cardBox {
    flex-wrap: wrap;
  }
  .tips .container .row .cardBox .card {
    flex: 0 0 48%;
  }
  .tips::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .tips {
    padding-top: 40px;
    padding-bottom: 22px;
  }
  .tips .container .row .title {
    width: 100%;
    font-size: 23px;
  }
  .tips .container .row .cardBox {
    flex-wrap: wrap;
  }
  .tips .container .row .cardBox .card {
    flex: 0 0 100%;
  }
}
/* -------------------------------- END TIPS -------------------------------- */
/* ------------------------------- START IDEA ------------------------------- */
.idea .container .row {
  position: relative;
  padding: 64px 69px 54px 78px;
  border-radius: 10px;
  align-items: center;
  background-image: url(../images/have.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: space-between;
  background-size: cover;
}
.idea .container .row .leftSide {
  flex: 0 0 58%;
  z-index: 1;
  padding-right: 15px;
  padding-left: 15px;
}
.idea .container .row .leftSide .title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 13px;
}
.idea .container .row .leftSide .info {
  color: #fff;
  margin-bottom: 15px;
  line-height: 30px;
}
.idea .container .row .rightSide {
  flex: 0 0 41.6%;
  padding: 0 15px;
}
.idea .container .row .rightSide .btn {
  float: right;
  background-color: #fff;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
  padding: 30px 44px;
  min-width: 200px;
  text-align: center;
  line-height: 0;
  border-radius: 5px;
  color: #7b40c0;
}
.idea .container .row .rightSide .btn:hover {
  color: #fff;
}
.idea .container .row .rightSide .btn:hover::before {
  transform: scaleX(1);
  z-index: -1;
}
.idea .container .row .rightSide .btn::before {
  background: #ec4683;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
  transform-origin: 0 0;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
.idea .container .row::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: -webkit-linear-gradient(0deg, #ff5c98 0%, #7b40c0 100%);
}

@media (max-width: 1200px) {
  .idea .container .row .leftSide {
    flex: 0 0 74%;
  }
  .idea .container .row .leftSide .info {
    padding-right: 20px;
  }
  .idea .container .row .rightSide {
    flex: 0 0 25%;
  }
}
@media (max-width: 992px) {
  .idea .container .row {
    padding: 42px 69px 36px 57px;
    flex-wrap: wrap;
  }
  .idea .container .row .leftSide {
    flex: 0 0 100%;
  }
  .idea .container .row .leftSide .info {
    padding-right: 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .idea .container .row {
    padding: 42px 19px 36px 40px;
  }
  .idea .container .row .leftSide .title {
    margin-bottom: 18px;
    font-size: 31px;
  }
  .idea .container .row .leftSide .info {
    margin-bottom: 30px;
    font-size: 15px;
  }
}
@media (max-width: 288px) {
  .idea .container .row {
    padding-left: 19px;
  }
}
/* -------------------------------- END IDEA -------------------------------- */
/* ------------------------------- START HERO ------------------------------- */
.aboutHero {
  height: calc(100vh - 76px);
  position: relative;
  width: 100%;
}
.aboutHero .container .row {
  align-items: center;
  justify-content: center;
}
.aboutHero .container .row .leftSide {
  flex: 0 0 48%;
  animation-duration: 1s;
}
.aboutHero .container .row .leftSide img {
  width: 100%;
}
.aboutHero .container .row .rightSide {
  padding: 0 15px;
  animation-duration: 1s;
  flex: 0 0 58%;
}
.aboutHero .container .row .rightSide .title {
  font-size: 65px;
  font-weight: 700;
  color: #2b4b80;
  margin-bottom: 40px;
  line-height: 1.2;
}
.aboutHero .container .row .rightSide .info {
  margin-bottom: 54px;
  padding-right: 155px;
  color: #707b8e;
  line-height: 30px;
}
.aboutHero .container .row .rightSide .btn {
  background-color: #ff5c97;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: color 0.4s linear;
  padding: 30px 44px;
  min-width: 200px;
  text-align: center;
  line-height: 0;
  border-radius: 5px;
  color: #fff;
}
.aboutHero .container .row .rightSide .btn:hover {
  color: #fff;
}
.aboutHero .container .row .rightSide .btn:hover::before {
  transform: scaleX(1);
  z-index: -1;
}
.aboutHero .container .row .rightSide .btn::before {
  background: #ec4683;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
  transform-origin: 0 0;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}
.aboutHero::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-image: url(../images/about_shape1.png);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90%;
}
.aboutHero::after {
  content: "";
  position: absolute;
  bottom: -5%;
  right: -15%;
  background-image: url(../images/about-sharpe2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30%;
  height: 55%;
}

@media (max-width: 1260px) {
  .aboutHero .container .row .leftSide {
    flex: 0 0 45%;
  }
}
@media (max-width: 1200px) {
  .aboutHero .container .row {
    justify-content: flex-start;
  }
  .aboutHero .container .row .leftSide {
    display: none;
  }
  .aboutHero .container .row .rightSide {
    flex: 0 0 60%;
  }
  .aboutHero .container .row .rightSide .title {
    font-size: 55px;
  }
  .aboutHero::before, .aboutHero::after {
    display: none;
  }
}
@media (max-width: 992px) {
  .aboutHero {
    height: 100%;
    margin-bottom: 150px;
  }
  .aboutHero .container .row {
    margin: 20px 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .aboutHero .container .row .rightSide {
    flex: 0 0 90%;
  }
  .aboutHero .container .row .rightSide .info {
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .aboutHero {
    margin-bottom: 80px;
  }
  .aboutHero .container .row {
    justify-content: center;
  }
  .aboutHero .container .row .rightSide {
    flex: 0 0 100%;
  }
  .aboutHero .container .row .rightSide .title {
    font-size: 29px;
    line-height: 1.4;
  }
}
/* -------------------------------- END HERO -------------------------------- */
/* ------------------------------ START CONTACT ----------------------------- */
.contact {
  width: 100%;
  height: 100%;
  padding-top: 194px;
  padding-bottom: 50px;
}
.contact .container .row {
  align-items: center;
  flex-direction: column;
}
.contact .container .row span {
  color: #2b4b80;
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin-bottom: 16px;
}
.contact .container .row span::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  background: #2b4b80;
  left: -60px;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}
.contact .container .row .title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 66px;
  line-height: 1.3;
  color: #2b4b80;
}
.contact .container .row .map {
  width: 100%;
  margin-bottom: 48px;
  padding-bottom: 24px;
}
.contact .container .row .map iframe {
  width: 100%;
  height: 480px;
  border: 0;
}
.contact .container .row h5 {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2b4b80;
  text-align: left;
  width: 100%;
}
.contact .container .row .formContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact .container .row .formContainer .form {
  flex: 0 0 67%;
}
.contact .container .row .formContainer .form textarea {
  resize: none;
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #e5e6e9;
  padding: 6px 12px 6px 18px;
  line-height: 1.5;
  color: #495057;
  font-size: 13px;
}
.contact .container .row .formContainer .form textarea:focus {
  outline: 0;
}
.contact .container .row .formContainer .form .inputGroup {
  display: flex;
  justify-content: space-between;
}
.contact .container .row .formContainer .form .inputGroup input {
  margin-bottom: 30px;
  flex: 0 0 45%;
  border: 1px solid #e5e6e9;
  height: 48px;
  color: #495057;
  padding: 6px 12px 6px 18px;
  font-size: 13px;
}
.contact .container .row .formContainer .form .inputGroup input:focus {
  outline: 0;
}
.contact .container .row .formContainer .form input {
  width: 100%;
  margin-bottom: 30px;
  padding: 6px 12px 6px 18px;
  font-size: 13px;
  height: 48px;
  border: 1px solid #e5e6e9;
  color: #495057;
}
.contact .container .row .formContainer .form input:focus {
  outline: 0;
}
.contact .container .row .formContainer .form button {
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 14px;
  background-color: #fff;
  color: #ff5c97;
  margin-bottom: 30px;
  margin-top: 16px;
  border: 1px solid #ff5c97;
  padding: 18px 44px;
  transition: all 0.3s ease-out;
}
.contact .container .row .formContainer .form button:hover {
  background-color: #ff5c97;
  border: 1px solid #ff5c97;
  color: #fff;
}
.contact .container .row .formContainer .contactInfo {
  flex: 0 0 25%;
}
.contact .container .row .formContainer .contactInfo .contactInfoContent {
  display: flex;
  margin-bottom: 25px;
}
.contact .container .row .formContainer .contactInfo .contactInfoContent i {
  padding: 10px 0 0 5px;
  color: #8f9195;
  font-size: 27px;
  margin-right: 20px;
}
.contact .container .row .formContainer .contactInfo .contactInfoContent div a {
  font-size: 16px;
  color: #2a2a2a;
  font-weight: 500;
  transition: all 0.4s ease-out;
}
.contact .container .row .formContainer .contactInfo .contactInfoContent div a:hover {
  color: #ff5c97;
}
.contact .container .row .formContainer .contactInfo .contactInfoContent div p {
  margin-bottom: 15px;
  line-height: 30px;
  color: #8a8a8a;
}

@media (max-width: 1200px) {
  .contact {
    padding-top: 124px;
  }
}
@media (max-width: 992px) {
  .contact {
    padding-top: 81.5px;
  }
  .contact .container .row .title {
    font-size: 45px;
  }
  .contact .container .row .formContainer {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .contact {
    padding-top: 61.5px;
  }
  .contact .container .row .title {
    font-size: 23px;
  }
}
@media (max-width: 576px) {
  .contact .container .row .map {
    display: none;
  }
  .contact .container .row .formContainer .form .inputGroup {
    flex-wrap: wrap;
  }
  .contact .container .row .formContainer .form .inputGroup input {
    flex: 0 0 100%;
  }
}
/* ------------------------------- END CONTACT ------------------------------ */
/* ------------------------------- START HERO ------------------------------- */
.servicesHero {
  margin-top: 200px;
  padding-top: 0;
}
.servicesHero .container .row {
  align-items: center;
}
.servicesHero .container .row span {
  color: #2b4b80;
  font-weight: 700;
  display: inline-block;
  position: relative;
  margin-bottom: 16px;
}
.servicesHero .container .row span::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  background: #2b4b80;
  left: -60px;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}
.servicesHero::before {
  position: absolute;
  background-image: url(../images/what_do_bg.png);
  content: "";
  top: 10%;
  z-index: 1;
  background-repeat: no-repeat;
  left: 0px;
  max-width: 243px;
  max-height: 482px;
  width: 243px;
  height: 482px;
}

@media (max-width: 1200px) {
  .servicesHero {
    margin-top: 120px;
  }
}
@media (max-width: 992px) {
  .servicesHero {
    margin-top: 50px;
  }
}
/* -------------------------------- END HERO -------------------------------- */
/* ---------------------------- START GENERATING ---------------------------- */
.servicesHero + .generating {
  padding-top: 160px;
  padding-bottom: 170px;
}

@media (max-width: 1200px) {
  .servicesHero + .generating {
    padding-top: 60px;
    padding-bottom: 65px;
  }
}
@media (max-width: 1200px) {
  .generating {
    padding-top: 60px;
    padding-bottom: 65px;
  }
}
@media (max-width: 768px) {
  .servicesHero + .generating {
    padding-top: 30px;
    padding-bottom: 35px;
  }
}
/* ----------------------------- END GENERATING ----------------------------- *//*# sourceMappingURL=index.css.map */