@import "../mixins";

/* ------------------------------- START HERO ------------------------------- */
.hero {
  background-image: url(../images/hero_bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 76px);
  width: 100%;
  .container {
    .row {
      align-items: center;
      justify-content: space-between;
      position: relative;
      .leftSide {
        position: relative;
        flex: 0 0 58%;
        animation-duration: 1s;
        .title {
          font-size: 65px;
          font-weight: 700;
          line-height: 1.2;
          margin-bottom: 40px;
          color: $darkBlueClr;
        }
        .sectionInfo {
          margin-bottom: 54px;
          padding-right: 155px;
          line-height: 30px;
          color: $grayClr;
        }
        .heroBtn {
          @include primaryBtn($whiteClr, $lightPinkClr);
          p {
            position: relative;
            display: inline-block;
            z-index: 2;
          }

          &:hover {
            span {
              width: 100%;
            }
          }

          span {
            height: 100%;
            z-index: 2;
            position: absolute;
            display: inline-block;
            border-radius: 5px;
            top: 0;
            left: 0;
            width: 0;
            background-color: $pinkClr;
            transition: all 0.5s cubic-bezier(0.5, 1.6, 0.4, 0.7);
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          background-image: url(../images/plus.png);
          left: 339px;
          top: -70px;
          animation: plus 2s ease-out infinite;
        }
        &::before {
          content: "";
          position: absolute;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          background-image: url(../images/plus.png);
          left: 285px;
          top: 400px;
          animation: plus 2s ease-out infinite;
        }
      }
      .rightSide {
        flex: 0 0 fit-content;
        animation-duration: 0.8s;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@keyframes plus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1450px) {
  .hero {
    padding-top: 80px;
    .container {
      .row {
        align-items: flex-start;
        .rightSide {
          flex: 0 0 40%;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .hero {
    .container {
      .row {
        align-items: center;
        .leftSide {
          .title {
            font-size: 55px;
          }
        }
        .rightSide {
          flex: 0 0 40%;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .hero {
    height: 100%;
    .container {
      .row {
        align-items: flex-start;
        .leftSide {
          flex-basis: 100%;
          &::before {
            top: 360px;
          }
          &::after {
            top: -30px;
          }
        }
        .rightSide {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .container {
      .row {
        .leftSide {
          .title {
            font-size: 29px;
            line-height: 1.4;
          }
          .sectionInfo {
            padding: 0;
          }
          &::before {
            top: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .hero {
    .container {
      .row {
        .leftSide {
          &::after {
            left: 250px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .hero {
    .container {
      .row {
        .leftSide {
          &::after {
            display: none;
          }
          &::before {
            display: none;
          }
        }
      }
    }
  }
}
/* ------------------------------- END HEADER ------------------------------- */

/* ----------------------------- START SERVICES ----------------------------- */
.services {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 100px;
  .container {
    .row {
      flex-direction: column;
      .title {
        line-height: 1.3;
        font-size: 50px;
        color: $darkBlueClr;
        text-align: center;
        width: 770px;
        margin: 0 auto 66px auto;
      }
      .cardBox {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: space-between;
        .card {
          flex-direction: column;
          display: flex;
          align-items: center;
          padding: 0 15px;
          flex: 0 0 30%;
          margin-bottom: 30px;
          transition: all 0.3s ease;
          padding: 56px 40px 69px;
          border-radius: 6px;
          .cardImage {
            width: 73px;
            margin-bottom: 20px;
            img {
              width: 100%;
            }
          }
          .cardTitle {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 23px;
            color: $darkBlueClr;
            text-align: center;
          }

          .cardInfo {
            margin-bottom: 40px;
            color: $grayClr;
            line-height: 30px;
            text-align: center;
          }
          a {
            display: flex;
            align-items: center;
            font-size: 13px;
            color: $lightGrayClr;
            transition: all 0.3s ease-out;
            font-weight: 500;
            i {
              transition: all 0.3s ease-out;
              padding: 5px 6px;
              border-radius: 50%;
              margin-right: 7px;
              background: $lightGrayClr;
              width: 24px;
              height: 24px;
              color: $whiteClr;
              display: inline-block;
            }
          }
          &:hover {
            box-shadow: 0px 10px 30px 0px rgb(133 66 189 / 10%);
            a {
              color: $purpleClr;
              i {
                background-color: $purpleClr;
              }
            }
          }
          &:nth-child(2) {
            box-shadow: 0px 10px 30px 0px rgb(133 66 189 / 10%);
            a {
              color: $purpleClr;
              i {
                background-color: $purpleClr;
              }
            }
          }
        }
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    background-image: url(../images/what_do_bg.png);
    background-repeat: no-repeat;
    left: 0px;
    width: 243px;
    height: 482px;
    top: -187px;
  }
  &::after {
    content: "";
    background-image: url(../images/what_do_right_bg.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 351px;
    height: 461px;
    bottom: 125px;
    z-index: -1;
    right: 0;
  }
}

@media (max-width: 1200px) {
  .services {
    padding-top: 80px;
    .container {
      .row {
        .title {
          width: 610px;
        }
        .cardBox {
          .card {
            .cardTitle {
              font-size: 21px;
            }
          }
        }
      }
    }
    &::after {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .services {
    padding-top: 160px;
    .container {
      .row {
        .title {
          font-size: 45px;
        }
        .cardBox {
          .card {
            flex: 0 0 48%;
          }
        }
      }
    }
    &::before {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .services {
    .container {
      .row {
        .title {
          font-size: 23px;
          width: auto;
        }
        .cardBox {
          .card {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}
/* ------------------------------ END SERVICES ------------------------------ */

/* ------------------------------- START ABOUT ------------------------------ */

.about {
  width: 100%;
  height: 100%;
  padding-top: 240px;
  padding-bottom: 190px;
  position: relative;
  .container {
    .row {
      .leftSide {
        img {
          width: 100%;
        }
      }
      .rightSide {
        flex: 0 0 50%;
        padding: 0 15px;
        .title {
          color: $darkBlueClr;
          font-weight: 700;
          line-height: 1.3;
          font-size: 50px;
          margin-bottom: 29px;
          padding-right: 25px;
        }
        .info {
          padding-right: 50px;
          margin-bottom: 56px;
          color: $grayClr;
          line-height: 30px;
        }
        a {
          @include primaryBtn($whiteClr, $lightPinkClr);
        }
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -117px;
    z-index: -1;
    min-height: 819px;
    min-width: 1006px;
    background-image: url(../images/we-create_bg.png);
    background-repeat: no-repeat;
  }
  &::after {
    background-image: url(../images/we_create_right_bg.png);
    position: absolute;
    content: "";
    z-index: -1;
    min-height: 262px;
    min-width: 207px;
    background-repeat: no-repeat;
    right: 0px;
    bottom: 178px;
  }
}

@media (max-width: 1200px) {
  .about {
    .container {
      .row {
        .leftSide {
          img {
            width: 100%;
          }
        }
        .rightSide {
          .title {
            font-size: 29px;
          }
          .info {
            padding-right: 10px;
          }
        }
      }
    }
    &::after,
    &::before {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .about {
    padding-top: 120px;
    padding-bottom: 95px;
    .container {
      .row {
        flex-wrap: wrap;
        .leftSide {
          flex: 0 0 100%;
        }
        .rightSide {
          flex: 0 0 100%;
          .title {
            font-size: 42px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .about {
    padding-top: 63px;
    padding-bottom: 90px;
    .container {
      .row {
        flex-wrap: wrap;
        .leftSide {
          flex: 0 0 100%;
        }
        .rightSide {
          flex: 0 0 100%;
          .title {
            font-size: 25px;
            line-height: 1.3;
            padding-right: 0px;
          }
        }
      }
    }
  }
}

/* -------------------------------- END ABOUT ------------------------------- */

/* ---------------------------- START GENERATING ---------------------------- */

.generating {
  .container {
    .row {
      flex-direction: column;
      align-items: center;
      .title {
        width: 66%;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 66px;
        line-height: 1.3;
        color: $darkBlueClr;
        text-align: center;
      }
      .cardBox {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        width: 100%;
        .card {
          flex: 0 0 48%;
          border: 1px solid $grayBorder;
          padding: 36px 54px 25px 56px;
          margin-bottom: 30px;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          transition: all 0.4s ease-out;
          .cardImage {
            margin-top: 10px;
            width: 60px;
            img {
              width: 100%;
            }
          }
          .cardContent {
            width: 100%;
            padding-left: 28px;
            .cardTitle {
              font-size: 20px;
              font-weight: 600;
              line-height: 1.3;
              margin-bottom: 29px;
              color: $darkBlueClr;
            }
            .cardInfo {
              line-height: 30px;
              color: $grayClr;
              margin-bottom: 15px;
            }
          }
          &:hover {
            box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .generating {
    .container {
      .row {
        .title {
          width: 100%;
        }
        .cardBox {
          column-gap: 15px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .generating {
    .container {
      .row {
        .title {
          width: auto;
          font-size: 45px;
        }
        .cardBox {
          .card {
            padding: 20px 20px 20px;
            .cardContent {
              .cardInfo {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .generating {
    .container {
      .row {
        .title {
          font-size: 23px;
        }
        .cardBox {
          gap: 0;
          .card {
            flex: 0 0 100%;
            padding: 20px 8px 20px;
          }
        }
      }
    }
  }
}

/* ----------------------------- END GENERATING ----------------------------- */

/* ------------------------------- START PLAN ------------------------------- */

.plans {
  position: relative;
  padding-top: 160px;
  width: 100%;
  height: 100%;
  .container {
    .row {
      flex-direction: column;
      .title {
        width: 58%;
        text-align: center;
        margin: 0 auto 66px auto;
        font-size: 50px;
        font-weight: 700;
        line-height: 1.3;
        color: $darkBlueClr;
      }
      .cardBox {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .card {
          margin-bottom: 30px;
          flex: 0 0 31%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid #ececec;
          background-color: $whiteClr;
          border-radius: 6px;
          transition: all 0.3s ease-out;
          padding: 56px 40px 69px;
          .cardImage {
            margin-bottom: 10px;
            width: 73px;
            img {
              width: 100%;
            }
          }
          .cardPrice {
            font-size: 35px;
            color: $darkBlueClr;
            font-weight: 700;
            margin-bottom: 42px;
            display: inline-block;
          }
          .cardFeatures {
            display: flex;
            flex-direction: column;
            align-items: center;
            .feature {
              margin-bottom: 17px;
              text-align: center;
              color: $darkGrayClr;
            }
          }

          &:hover {
            box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
            border: 1px solid transparent;
          }

          &:nth-child(2) {
            box-shadow: 0px 10px 30px 0px rgba(133, 66, 189, 0.1);
            border: 1px solid transparent;
          }
        }
      }
    }
  }
  &::before {
    background-image: url(../images/choose_your_bg.png);
    position: absolute;
    content: "";
    z-index: -1;
    background-repeat: no-repeat;
    right: 0px;
    width: 511px;
    height: 971px;
    bottom: -85px;
  }
  &::after {
    background-image: url(../images/plus.png);
    background-size: cover;
    background-position: center center;
    position: absolute;
    content: "";
    z-index: -1;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    left: 100px;
    bottom: 0;
    animation: plus 2s ease-out infinite;
  }
}

@media (max-width: 1600px) {
  .plans {
    &::after {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .plans {
    padding-top: 60px;
    &::before {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .plans {
    padding-top: 30px;
    .container {
      .row {
        .title {
          width: 100%;
          font-size: 45px;
        }
        .cardBox {
          flex-wrap: wrap;
          row-gap: 30px;
          .card {
            flex: 0 0 48%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .plans {
    .container {
      .row {
        .title {
          font-size: 23px;
        }
        .cardBox {
          flex-wrap: wrap;
          .card {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}

/* -------------------------------- END PLAN -------------------------------- */

/* ----------------------------- START PROJECTS ----------------------------- */

.projects {
  width: 100%;
  height: 100%;
  padding-top: 160px;
  padding-bottom: 160px;
  .title {
    width: 50%;
    color: $darkBlueClr;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 0 auto 66px auto;
    line-height: 1.3;
  }
  .cardBox {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    .card {
      flex: 0 0 23%;
      margin-bottom: 30px;
      position: relative;
      img {
        width: 100%;
        object-fit: cover;
      }
      .cardContent {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        background-color: $whiteClr;
        padding: 29px 10px 10px 50px;
        border-radius: 0 10px 0 0;
        a {
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 8px;
          color: $darkBlueClr;
          transition: all 0.3s ease-out;
          &:hover {
            color: $lightPinkClr;
          }
        }
        p {
          color: $grayClr;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .projects {
    padding-top: 60px;
    padding-bottom: 60px;
    .cardBox {
      .card {
        .cardContent {
          padding: 20px 10px 10px 20px;
          a {
            font-size: 23px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .projects {
    .title {
      font-size: 45px;
      width: 705px;
    }
    .cardBox {
      gap: 15px;
      flex-wrap: wrap;
      .card {
        flex: 0 0 32%;
        .cardContent {
          padding: 14px 10px 1px 32px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    padding-top: 30px;
    padding-bottom: 30px;
    .title {
      font-size: 23px;
      width: 100%;
    }
    .cardBox {
      flex-wrap: wrap;
      .card {
        margin-bottom: 30px;
        flex: 0 0 100%;
        .cardContent {
          padding: 29px 10px 10px 50px;
          width: 80%;
          a {
            font-size: 30px;
          }
        }
      }
    }
  }
}

/* ------------------------------ END PROJECTS ------------------------------ */

/* ----------------------------- START FEEDBACK ----------------------------- */

.feedback {
  width: 100%;
  height: 100%;
  .container {
    .row {
      position: relative;
      flex-direction: column;
      .title {
        text-align: center;
        width: 42%;
        font-size: 50px;
        font-weight: 700;
        margin: 0 auto 66px auto;
        line-height: 1.3;
        color: $darkBlueClr;
      }
      .carousel {
        position: relative;
        width: 83%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        .feedbackContent {
          text-align: center;
          font-weight: 300;
          font-style: italic;
          line-height: 1.5;
          font-size: 20px;
          padding: 0 23px;
          margin-bottom: 50px;
          color: $grayClr;
        }
        .feedbackAuthor {
          display: flex;
          gap: 20px;
          .feedbackProfile {
            width: 65px;
            img {
              width: 100%;
            }
          }
          .feedbackAuthorAbout {
            display: flex;
            flex-direction: column;
            .feedbackAuthorName {
              color: $darkPurpleClr;
              font-size: 25px;
              font-weight: 600;
            }
            .feedbackAuthorPosition {
              font-weight: 500;
              line-height: 1.5;
              color: $grayClr;
              margin-bottom: 15px;
            }
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 96px;
        width: 50px;
        filter: invert(0.8);
        background-image: url(../images/icons/quote.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        transition: all 0.4s ease-out;
        height: 86px;
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50px;
        filter: invert(0.8);
        background-image: url(../images/icons/quote.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        transition: all 0.4s ease-out;
        height: 86px;
        transform: rotate(180deg);
      }

      &:hover {
        &::before,
        &::after {
          filter: invert(0.5);
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .feedback {
    .container {
      .row {
        .title {
          width: 67%;
          font-size: 45px;
        }
        .carousel {
          width: 75%;
          .feedbackContent {
            font-size: 18px;
            margin-bottom: 30px;
          }
        }
        &::after,
        &::before {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .feedback {
    .container {
      .row {
        .title {
          width: 100%;
          font-size: 23px;
        }
        .carousel {
          width: 100%;
          .feedbackContent {
            font-size: 16px;
            padding: 0;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
/* ------------------------------ END FEEDBACK ------------------------------ */

/* ------------------------------- START TIPS ------------------------------- */

.tips {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 185px;
  padding-bottom: 150px;
  .container {
    .row {
      flex-direction: column;
      .title {
        width: 50%;
        text-align: center;
        font-size: 50px;
        margin: 0 auto 66px auto;
        line-height: 1.3;
        font-weight: 700;
        color: $darkBlueClr;
      }
      .cardBox {
        display: flex;
        justify-content: space-between;
        .card {
          margin-bottom: 50px;
          flex: 0 0 32%;
          .cardImage {
            border-radius: 10px;
            margin-bottom: 40px;
            overflow: hidden;
            img {
              width: 100%;
              transition: all 0.4s ease-out;
            }
          }
          .cardTitle {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.4;
            margin-bottom: 26px;
            padding-right: 27px;
            color: $darkBlueClr;
          }
          a {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 27px;
            display: inline-block;
            padding-left: 65px;
            color: $lightBlackClr;
            transition: all 0.4s ease-out;
            position: relative;

            &:hover {
              color: $purpleClr;
            }

            &::before {
              position: absolute;
              content: "";
              width: 40px;
              height: 3px;
              background: $purpleClr;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
          .cardDate {
            color: $lightPinkClr;
            display: block;
          }
          &:hover {
            .cardImage {
              img {
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }
  &::before {
    background-image: url(../images/tips.png);
    position: absolute;
    content: "";
    z-index: -1;
    min-height: 769px;
    min-width: 331px;
    background-repeat: no-repeat;
    left: 0;
  }
}

@media (max-width: 1200px) {
  .tips {
    padding-top: 92px;
    padding-bottom: 45px;
  }
}

@media (max-width: 992px) {
  .tips {
    .container {
      .row {
        .title {
          font-size: 45px;
          width: 67%;
        }
        .cardBox {
          flex-wrap: wrap;
          .card {
            flex: 0 0 48%;
          }
        }
      }
    }
    &::before {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .tips {
    padding-top: 40px;
    padding-bottom: 22px;
    .container {
      .row {
        .title {
          width: 100%;
          font-size: 23px;
        }
        .cardBox {
          flex-wrap: wrap;
          .card {
            flex: 0 0 100%;
          }
        }
      }
    }
  }
}

/* -------------------------------- END TIPS -------------------------------- */

/* ------------------------------- START IDEA ------------------------------- */
.idea {
  .container {
    .row {
      position: relative;
      padding: 64px 69px 54px 78px;
      border-radius: 10px;
      align-items: center;
      background-image: url(../images/have.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      justify-content: space-between;
      background-size: cover;
      .leftSide {
        flex: 0 0 58%;
        z-index: 1;
        padding-right: 15px;
        padding-left: 15px;
        .title {
          color: $whiteClr;
          font-size: 40px;
          font-weight: 700;
          line-height: 1.4;
          margin-bottom: 13px;
        }
        .info {
          color: $whiteClr;
          margin-bottom: 15px;
          line-height: 30px;
        }
      }
      .rightSide {
        flex: 0 0 41.6%;
        padding: 0 15px;
        .btn {
          float: right;
          @include primaryBtn($purpleClr, $whiteClr);
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px;
        opacity: 0.95;
        width: 100%;
        height: 100%;
        display: inline-block;
        background-image: -webkit-linear-gradient(
          0deg,
          #ff5c98 0%,
          #7b40c0 100%
        );
      }
    }
  }
}

@media (max-width: 1200px) {
  .idea {
    .container {
      .row {
        .leftSide {
          flex: 0 0 74%;
          .info {
            padding-right: 20px;
          }
        }
        .rightSide {
          flex: 0 0 25%;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .idea {
    .container {
      .row {
        padding: 42px 69px 36px 57px;
        flex-wrap: wrap;
        .leftSide {
          flex: 0 0 100%;
          .info {
            padding-right: 10px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .idea {
    .container {
      .row {
        padding: 42px 19px 36px 40px;
        .leftSide {
          .title {
            margin-bottom: 18px;
            font-size: 31px;
          }
          .info {
            margin-bottom: 30px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 288px) {
  .idea {
    .container {
      .row {
        padding-left: 19px;
      }
    }
  }
}

/* -------------------------------- END IDEA -------------------------------- */
